In [1]:
import pandas as pd

In [4]:
observations = pd.read_csv('observations.csv')
display(observations.head(10))

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [5]:
species_info = pd.read_csv('species_info.csv')
display(species_info.head(10))

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

![image of data structure](Documents/Codecademy/np-biodiversity/data_structure.png)

Some relationships to examine:

- Unique species per park
- Conservation status of observed animals per park
- Overlay with NPS boundaries on map perhaps?

First we need to do some merges!

In [9]:
combined = observations.merge(species_info, how ='left', on = 'scientific_name')

In [12]:
combined['conservation_status'] = combined['conservation_status'].fillna('Least Concern')

In [30]:
conservation_by_park = combined.groupby(['park_name'])['conservation_status'].value_counts()

In [31]:
display(conservation_by_park)

park_name                            conservation_status
Bryce National Park                  Least Concern          6188
                                     Species of Concern      183
                                     Endangered               20
                                     Threatened               11
                                     In Recovery               6
Great Smoky Mountains National Park  Least Concern          6188
                                     Species of Concern      183
                                     Endangered               20
                                     Threatened               11
                                     In Recovery               6
Yellowstone National Park            Least Concern          6188
                                     Species of Concern      183
                                     Endangered               20
                                     Threatened               11
                                     In Recovery               6
Yosemite National Park               Least Concern          6188
                                     Species of Concern      183
                                     Endangered               20
                                     Threatened               11
                                     In Recovery               6
Name: conservation_status, dtype: int64

In [39]:
blah= combined.conservation_status.value_counts()
display(blah)

Least Concern         24752
Species of Concern      732
Endangered               80
Threatened               44
In Recovery              24
Name: conservation_status, dtype: int64